{% extends "mariarteApp/base.html" %}
{% load static %}
{% block content %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static './mariarteApp/img/IMGSERVICIOS.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-3 rounded">
              <h2 class="section-heading mb-1" >
                <span id="title" class="section-heading-upper">Botellas decorativas dando vida a tu hogar</span>
                <span id="subtitle" class="section-heading-lower">Transforma tu espacio con nuestras creación única</span>
              </h2>
              <p class="mb-1">
                Descubre el encanto de nuestras botellas decoradas. Desde estilos vintage hasta modernos, nuestras piezas artesanales te permitirán transformar cualquier espacio en un lugar lleno de personalidad y estilo.
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static './mariarteApp/img/entrega.jpg' %}" alt="">
              <div class="intro-text left-0 text-center bg-faded p-3 rounded">
                <h2 class="section-heading mb-1" >
                  <span id="title" class="section-heading-upper">Botellas decoradas en su puerta</span>
                  <span id="subtitle" class="section-heading-lower">Recíbala en la comodidad de su hogar</span>
                </h2>
                <p class="mb-1">
                  Hacemos que sea fácil para ti obtener la pieza perfecta, gracias a nuestro servicio de entrega personalizado. Desde la selección del diseño hasta la entrega en la puerta de tu casa.
                </p>
              </div>
            </div>
        </div>
    </section>

{% endblock %}