{% extends "mariarteApp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="contact" id="login">
    <h2 class="login-title">Login</h2>
    <div class="contact-container">
        <div class="form">
            {% if messages %}
                {% for mensaje in messages %}
                    <span class="alert-login">
                        {{mensaje}}
                    </span>
                {% endfor %}
            {% endif %}
            <form method="post" action="" id="form">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Login" id="submit-btn" class="submit-btn"/>
            </form>
        </div>
    </div>
</section>

{% endblock %}